<style>
h1 {
    font-family: sans-serif;
    font-size:65px;
    color:orange;
    font-style: italic;
}

p {
    font-weight: 600;
    font-size: 3em;
}

#cor-de-fundo {
    background-color:blue;
}

.cor-de-fundo {
    background-color: darkgoldenrod;
}

body {
  font-size: 16px;
}

.amarelolist {
  background-color: yellow;
}

.vermelholist {
  background-color: red;
}

.marromlist {
  background-color: brown;
}


</style>